# Data manipulation

pandas
numpy

# Visualization

matplotlib
seaborn

# Natural language processing

spacy
vaderSentiment
tomotopy
scikit-learn 

# Utilities

requests
parse

# Jupyter

jupyter
ipykernel

# Bayesian modelling
pymc
pytensor
arviz

# Regressions and Causality tests

statsmodels

# Web App

streamlit

